body {
    background-color: #14171A;
    color: white;
    height: 999px;
}

.fixed-custom {
    position: fixed;
}

.main-layout .container .row .col-md-3 a {
    color: white;
    text-decoration: none;
}

.main-layout .container .row .col-md-3 a.active {
    font-weight: bold;
}

.tweet {
    transition: .2s;
}

.tweet:hover {
    cursor: pointer;
    background-color: rgb(39, 45, 51);
}

.text-comment:hover {
    background-color: blue;
    padding: 5px;
    transform: scale(1.1);
}